{% extends 'bases/base.html' %}

{% block title %}Lançamento de Nota{% endblock %}

{% block page_name %}Edital {{ notice.identifier }} - Lançamento de Nota{% endblock page_name %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'components/form_messages.html' with form=form %}

        <div class="container d-flex align-items-center flex-column">
            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">SOBRE A INSCRIÇÃO</span>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Código de inscrição:' value=subscription.id readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Nome completo do candidato:' value=subscription.full_name readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='CPF do candidato:' value=subscription.user.cpf readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-9">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header pb-1">
                                <div class="text-center">
                                    <h4 class="section-title card-title mb-0 font-weight-bold">AVALIADORES</h4>
                                </div>
                                <div class="d-flex justify-content-end" style="margin-top: -20px">
                                    <button type="button" onclick="$('#teacher_add').click()"
                                        class="btn btn-success btn-dark-success rounded-circle" style="padding: 4px 4px 0px 4px;">
                                        <span class="material-icons">add</span>
                                    </button>
                                </div>
                            </div>
                
                            <div class="card-body pt-0">
                                <div id="teacher_form" data-formset-prefix="{{ teacher_form.prefix }}" class="container-fluid">
                                    {{ teacher_form.management_form }}
                                    <div data-formset-body>
                                        <!-- New forms will be inserted in here -->
                                        {% for form in teacher_form %}
                                            <div data-formset-form>
                                                <div class="row mb-2">
                                                    <div class="col-8 pr-2">
                                                        {% include 'components/field.html' with label='Nome:' field=form.teacher %}
                                                    </div>
                    
                                                    <div class="col-3 pl-1 pr-1">
                                                        {% include 'components/field.html' with label='Nota:' field=form.score %}
                                                    </div>
                    
                                                    <div class="col-1 pl-0 pr-1">
                                                        <button type="button" class="btn"
                                                            style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;"
                                                            data-formset-delete-button>
                                                            <span class="material-icons text-danger">delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="d-none">
                                                    {{ form.id }}
                                                    {{ form.DELETE }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                
                                    <input type="button" data-formset-add class="d-none" id="teacher_add">
                
                                    <script type="form-template" data-formset-empty-form>
                                        {% block escapescript %}
                                            <div data-formset-form>
                                                <div class="row mb-2">
                                                    <div class="col-8 pr-2">
                                                        {% include 'components/field.html' with label='Nome:' field=teacher_form.empty_form.teacher %}
                                                    </div>
            
                                                    <div class="col-3 pl-1 pr-1">
                                                        {% include 'components/field.html' with label='Nota:' field=teacher_form.empty_form.score %}
                                                    </div>
    
                                                    <div class="col-1 pl-0 pr-1">
                                                        <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                            <span class="material-icons text-danger">delete</span>
                                                        </button>
                                                    </div> 
                                                </div>
                                                <div class="d-none">{{ teacher_form.empty_form.DELETE }}</div>
                                            </div>
                                        {% endblock %}
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">SOBRE A ETAPA</span>
                    </div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">    
                                    {% include 'components/field.html' with label='Nome da etapa:' value=notice_step.step readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            {% if notice_step.step.is_subscription_step %}
                                <div class="col-6">
                                    <div class="form-group">
                                        {% include 'components/field.html' with label='Data de divulgação:' value=notice_step.release_date|date:'SHORT_DATE_FORMAT' readonly=True classes="text-center" %}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="{{ form.score.auto_id }}">
                                            Classificação: <span style="color: red">*</span>
                                        </label>
                                        <select name="{{ form.score.html_name }}" class="form-control form-control-lg" required="" id="{{ form.score.auto_id }}">
                                            <option value="" selected="">---------</option>
                                            <option value="0">Indeferida</option>
                                            <option value="10">Deferida</option>
                                        </select>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-4">
                                    <div class="form-group">
                                        {% include 'components/field.html' with label='Data de divulgação:' value=notice_step.release_date|date:'SHORT_DATE_FORMAT' readonly=True classes="text-center" %}
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        {% include 'components/field.html' with label='Nota de corte:' value=notice_step.passing_score readonly=True classes="text-center" %}
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="form-group">
                                        {% include 'components/field.html' with label='Nota obtida:' field=form.score classes="text-center" %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Observações sobre o resultado:' field=form.obs  show_required=False %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Lançar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block body_end_script %}
    <script type="text/javascript">
        $(function () {
            $("#teacher_form").formset({ animateForms: false });
        });
    </script>
{% endblock %}