{% extends 'bases/base.html' %}

{% block title %}Histórico de Inscrições{% endblock %}

{% block page_name %}Histórico de Inscrições{% endblock page_name %}

{% block content %}
<div class="container">
    <div class="col-lg-12 mx-auto">
        {% for subscription in object_list %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <a href="{% url 'subscription_view' subscription.id %}">Inscrição no
                                {{ subscription.notice.title }} - {{ subscription.notice.identifier }}</a>
                        </h5>

                        <div class="card-options float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-simple card-options-btn p-0" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" href="{% url 'subscription_update' pk=subscription.pk %}">Editar</a>
                                    <a class="dropdown-item text-danger" href="{% url 'subscription_cancel' pk=subscription.pk %}"">Cancelar</a>
                                </div>
                            </div>
                        </div>

                        <span
                            class="badge {{ subscription.get_status_color }}">{{ subscription.get_status_display }}</span>
                        <span class="badge bg-primary">{{ subscription.date }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if object_list.count == 0 %}
            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="text-danger text-center">Nenhuma inscrição foi encontrada.</h4>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}