{% extends 'bases/base.html' %}

{% block title %}Inscrição{% endblock %}

{% block page_name %}Edital {{ notice.identifier }} - Inscrição{% endblock page_name %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'components/form_messages.html' with form=form %}
        {% include 'components/form_messages.html' with form=sentdocument_formset %}

        <div class="container d-flex align-items-center flex-column">
            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">INFORMAÇÕES DE INSCRIÇÃO</span>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Nome completo do candidato:' value=user.full_name readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='CPF:' value=user.cpf readonly=True classes="text-center" %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Telefone para contato:' value=user.phone_number readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Endereço residencial:' value=user.address readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Currículo Lattes:' field=form.lattes classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Modalidade concorrida:' field=form.modality classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Comprovante de modalidade:' field=form.stump_voucher %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Concorre à bolsa Capes?:' field=form.scholarship classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Declaro que tenho conhecimento do Regulamento da Pós-Graduação da UFAC e respeito o Regimento interno do PPGCC' field=form.check classes="text-center" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">DOCUMENTOS SOLICITADOS</span>
                    </div>
                    <div class="card-body">
                        {{ sentdocument_formset.management_form }}
                        {% for form in sentdocument_formset %}
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form.id }}
                                        {{ form.required_document.as_hidden }}
                                        
                                        {% if form.instance.required_document %}
                                            {% with rd=form.instance.required_document %}
                                                {% if form.instance.required_document.type == 'A' %}
                                                    {% include 'components/field.html' with label=rd.name show_required=rd.is_required field=form.file classes="text-center" %}
                                                {% else %}
                                                    {% include 'components/field.html' with label=rd.name show_required=rd.is_required field=form.answer classes="text-center" %}
                                                {% endif %}
                                            {% endwith %}
                                        {% elif form.initial.required_document %}
                                            {% with rd=form.initial.required_document %}
                                                {% if form.initial.required_document.type == 'A' %}
                                                    {% include 'components/field.html' with label=rd.name show_required=rd.is_required field=form.file classes="text-center" %}
                                                {% else %}
                                                    {% include 'components/field.html' with label=rd.name show_required=rd.is_required field=form.answer classes="text-center" %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Finalizar inscrição</button>
            </div>
        </div>
    </form>
{% endblock %}