{% extends 'bases/base.html' %}

{% block title %}Consulta de Inscrição{% endblock %}

{% block page_name %}Edital {{ subscription.notice.identifier }} - Consulta de Inscrição{% endblock page_name %}

{% block content %}

    <div class="container d-flex align-items-center flex-column">
        <div class="col-sm-12 col-lg-9">
            <div class="card">
                <div class="card-header text-center d-flex align-items-center justify-content-center flex-column">
                    <span class="section-title card-title mb-0 font-weight-bold">Inscrição #{{ subscription.pk }}</span>
                    <span class="badge {{ subscription.get_status_color }}">{{ subscription.get_status_display }}</span>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Nome completo:' value=subscription.full_name readonly=True classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Endereço residencial:' value=subscription.address readonly=True classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Modalidade concorrida:</label>
                                <div class="d-flex justify-content-center">
                                    {% include 'components/field.html' with value=subscription.vacancy.modality readonly=True classes="text-center" %}
                                    {% if subscription.vacancy.modality.type == 'C' %}
                                        <a class="btn btn-dark-success" href="{{ subscription.stump_voucher.url }}" target="_blank">Comprovante</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Currículo Lattes:' value=subscription.lattes readonly=True classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-8">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Data e horário de inscrição:' value=subscription.created_at readonly=True classes="text-center" %}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Concorre à bolsa Capes?:' value=subscription.scholarship|yesno:"SIM,NÃO" readonly=True classes="text-center" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-9">
            <div class="card">
                <div class="card-header text-center d-flex align-items-center justify-content-center flex-column">
                    <span class="section-title card-title mb-0 font-weight-bold">DOCUMENTOS ENVIADOS</span>
                    <a href="{% url 'subscription_download' subscription.pk %}">
                        <span class="btn badge btn-primary">Baixar todos</span>
                    </a>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% for sent_document in subscription.sent_documents.all %}
                            <div class="col-6 mb-4 d-flex align-items-center flex-column">
                                <label>{{ sent_document.required_document.name }}</label>
                                <div>
                                    {% if sent_document.required_document.type == 'A' %}
                                        <a class="btn btn-dark-success" href="{{ sent_document.file.url }}" target="_blank">Visualizar</a>
                                    {% else %}
                                        <a class="btn btn-dark-primary" href="#" onclick="showSentDocumentModal('{{ sent_document.required_document.name }}', '{{ sent_document.answer }}')"
                                            data-toggle="modal" data-target="#modalSentDocument">Visualizar</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if not subscription.is_canceled %}
            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">RESULTADOS</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Etapa</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Nota</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% with step_results=subscription.step_results.all %}
                                    {% for step_result in step_results %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td class="text-center">{{ step_result.notice_step.step.name }}</td>
                                            <td class="text-center">{% if step_result.score >= step_result.notice_step.passing_score %}Aprovado{% else %}Reprovado{% endif %}</td>
                                            <td class="text-center">{{ step_result.score }}</td>
                                            <td class="text-center">
                                                <a class="text-success" onclick="showScoreModal('{{ step_result.notice_step.step.name }}', '{{ step_result.score }}', '{{ step_result.obs }}')"
                                                    data-toggle="modal" data-target="#modalScore">
                                                    <span class="material-icons">assignment</span>
                                                </a>
                                                {% if step_result.notice_step.can_send_resource and not step_result.is_approved %}
                                                    <a class="text-warning" href="{% url 'resource_create' pk=step_result.pk %}">
                                                        <span class="material-icons">account_balance</span>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    {% if step_results.count == 0 %}
                                        <td colspan="5" class="text-center">Nenhum resultado divulgado</td>
                                    {% endif %}
                                {% endwith %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">RECURSOS</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Etapa</th>
                                    <th class="text-center">Data de entrada</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resource in resources %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-center">{{ resource.step_result.notice_step.step.name }}</td>
                                        <td class="text-center">{{ resource.date }}</td>
                                        <td class="text-center">{{ resource.get_status_display }}</td>
                                        <td class="text-center">
                                            <a class="text-secondary" onclick="showResourceModal('{{ resource.step_result.notice_step.step.name }}', 
                                                '{{ resource.text }}', '{{ resource.file.url }}', '{{ resource.get_status_display }}', 
                                                '{{ resource.created_at|date:'SHORT_DATE_FORMAT' }}',
                                                '{{ resource.answer.new_score }}', 
                                                '{{ resource.answer.created_at|date:'SHORT_DATETIME_FORMAT' }}', 
                                                '{{ resource.answer.text }}', '{% if resource.answer.file %}{{ resource.answer.file.url }}{% endif %}')"
                                                data-toggle="modal" data-target="#modalResource">
                                                <span class="material-icons">preview</span>
                                            </a>
                                            {% if resource.step_result.notice_step.can_send_resource and resource.is_pending %}
                                                <a class="text-warning" href="{% url 'resource_update' pk=resource.pk %}">
                                                    <span class="material-icons">edit</span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% if resources.count == 0 %}
                                    <td colspan="5" class="text-center">Nenhum recurso encontrado</td>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="modalSentDocument" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="requiredDocumentName"></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3 mt-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Resposta:</label>
                                <textarea class="form-control form-control-lg" readonly="true" id="answer" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalScore" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="stepName"></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nota obtida:</label>
                                <input type="text" class="form-control form-control-lg" readonly="true" id="score"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Observações da banca:</label>
                                <textarea class="form-control form-control-lg" readonly="true" id="obs" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalResource" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="resource_stepName"></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Status do recurso:</label>
                                <input type="text" class="form-control form-control-lg" readonly="true" id="resource_status"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Texto complementar:</label>
                                <input type="text" class="form-control form-control-lg" readonly="true" id="resource_text"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Data de postagem:</label>
                                <input type="text" class="form-control form-control-lg" readonly="true" id="resource_date"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 mt-4 d-flex align-items-center flex-column">
                            <a class="btn btn-dark-success" href="#" target="_blank" id="resource_url">Visualizar anexo de recurso</a>
                        </div>
                    </div>

                    <div id="resource_answer">
                        <hr>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Nova nota:</label>
                                    <input type="text" class="form-control form-control-lg" readonly="true" id="answer_score"/>
                                </div>
                            </div>
                        </div>
    
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Data de resposta:</label>
                                    <input type="text" class="form-control form-control-lg" readonly="true" id="answer_date"/>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Considerações da banca:</label>
                                    <textarea class="form-control form-control-lg" readonly="true" id="answer_obs" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
    
                        <div class="row mt-2" id="div_answer_url">
                            <div class="col-12 mt-4 d-flex align-items-center flex-column">
                                <a class="btn btn-dark-success" href="#" target="_blank" id="answer_url">Visualizar anexo da resposta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end_script %}
    <script type="text/javascript">
        function showSentDocumentModal(requiredDocumentName, answer) {
            document.querySelector("#requiredDocumentName").innerHTML = requiredDocumentName
            document.querySelector("#answer").value = answer
        }

        function showScoreModal(stepName, score, obs) {
            document.querySelector("#stepName").innerHTML = stepName
            document.querySelector("#score").value = score
            document.querySelector("#obs").value = obs
        }

        function showResourceModal(stepName, resource_text, resource_url, resource_status, resource_date, 
            answer_score, answer_date, answer_obs, answer_url) {
            document.querySelector("#resource_stepName").innerHTML = stepName
            document.querySelector("#resource_status").value = resource_status
            document.querySelector("#resource_text").value = resource_text
            document.querySelector("#resource_url").href = resource_url
            document.querySelector("#resource_date").value = resource_date

            if(answer_score.length > 0) {
                document.querySelector("#answer_score").value = answer_score
                document.querySelector("#answer_date").value = answer_date
                document.querySelector("#answer_obs").value = answer_obs
                document.querySelector("#answer_url").href = answer_url
                document.querySelector("#resource_answer").style.display = "initial"

                if(answer_url.length > 0)
                    document.querySelector("#div_answer_url").style.display = "initial"
                else
                    document.querySelector("#div_answer_url").style.display = "none"
            }
            else
                document.querySelector("#resource_answer").style.display = "none"
        }
    </script>
{% endblock %}