.section-title {
    font-size: 1.25rem;
}

div[data-formset-form-deleted] {
    display: none;
}

.btn-dark-success {
    background-color: #568B59;
    color: white;
}

.btn-dark-success:hover {
    background-color: #406641;
    color: white;
}

.btn-dark-primary {
    background-color: #577DB6;
    color: white
}

.btn-dark-primary:hover {
    background-color: rgb(70, 105, 158);
    color: white;
}

.btn-simple, .btn-simple:hover, .btn-simple:focus {
    background-color: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.card-options {
    margin-top: -32px;
}

.card-options-btn {
    font-size: 20px
}

.sidebar-link, a.sidebar-link {
    color: rgba(233,236,239,.7);
}

.sidebar-header {
    color: white;
}

nav.navbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 3px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
}

nav.sidebar:not(.collapsed) {
    box-shadow: 1px 0px 9px -2px rgba(0,0,0,0.75);
    z-index: 0;
}