{% extends "base.html" %}

{% load static %}

{% block extrastyle %}
    <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'admin-lte/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>Administração</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg"></p>

                    <form action="{{ app_path }}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ form.username.errors }}
                            <input type="text" name="username" class="form-control" placeholder="Nome de usuário">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form.password.errors }}
                            <input type="password" name="password" class="form-control" placeholder="Senha">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                        <p class="mb-1">
                            <a href="{{ password_reset_url }}">Esqueci minha senha</a>
                        </p>
                    {% endif %}
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
    </body>
{% endblock %}
