{% extends 'bases/base.html' %}

{% block title %}Relatório de Resultados{% endblock %}

{% block page_name %}Relatório de Resultados{% endblock page_name %}

{% block content %}
    <div class="container">
        <form action="{% url 'notice_result_report' %}">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-12 mt-3">
                    <div class="input-group input-group-navbar" style="background-color: white; border: solid 1px #00000055; border-radius: 3px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
                        <input type="text" class="form-control" placeholder="Buscar pelo título do edital..." aria-label="Search" name="key" value="{{ request.GET.key }}">
                        <button class="btn" type="submit">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-8 col-12 mt-5">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notice in object_list %}
                                <tr>
                                    <td class="text-center">{{ notice.id|truncatechars:10 }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'notice_result_view' notice.id %}">
                                            {{ notice.title }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if object_list.count == 0 %}
                                <tr>
                                    <td class="text-center" colspan="2">
                                        Nenhum edital encontrado
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

