{% load notice_tags %}

<div class="card">
    <div class="card-header">
        {% is_program_coordinator request.user notice.program as is_program_coordinator_flag %}

        <h5 class="card-title mb-0">
            {% if is_program_coordinator_flag %}
                <a href="{% url 'notice_view' notice.id %}">Edital {{ notice.identifier }} - {{ notice.program.name }}</a>
            {% else %}
                <a href="{% url 'notice_query_view' notice.id %}">Edital {{ notice.identifier }} - {{ notice.program.name }}</a>
            {% endif %}
        </h5>
        
        {% if show_status %}
            <span class="badge {{ notice.get_status_color }}">{{ notice.get_status_display }}</span> 
        {% endif %}
            <span class="badge bg-primary" data-toggle="tooltip" data-placement="bottom" 
                title="Período inicial das inscrições">{{ notice.start_date }}</span>
            <span class="badge bg-danger" data-toggle="tooltip" data-placement="bottom" 
                title="Período final das inscrições">{{ notice.end_date }}</span>    

            {% if notice.has_addendum %}
            <span class="badge bg-success" data-toggle="tooltip" data-placement="bottom" 
                title="Este edital possui adendo(s)">Adendo</span>    
            {% endif %}

        {% if is_program_coordinator_flag %}
            <div class="card-options float-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-simple card-options-btn p-0" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="{% url 'notice_update' notice.id %}">Editar</a>
                        {% if notice.can_be_canceled %}
                            <button type="button" class="dropdown-item text-danger" 
                            onclick="showScoreCancel('{{ notice.identifier }}', '{% url 'notice_cancel' notice.id %}')"
                            data-toggle="modal" data-target="#modalCancel">Cancelar</a>
                        {% endif %}

                        {% if notice.status == 'C' %}
                            <a class="dropdown-item" href="{% url 'notice_result_view' notice.id %}">Visualizar resultado</a>
                        {% endif %}
                    </div>                    
                </div>
            </div>
        {% endif %}
    </div>

    <div class="card-body pt-0"> 
        <div class="col-xs-12 col-sm-11 col-md-9">
            {{ notice.description }}
        </div>

        {% is_user_subscribed request.user notice as is_user_subscribed_flag %}

        {% if notice.can_subscribe and not is_user_subscribed_flag %}
            <div class="card-options float-right">
                <a class="btn btn-primary" href="{% url 'subscription_add' notice.id %}">Inscrever-me</a>
            </div>
        {% endif %}
    </div>
</div>