{% load formset_tags %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'components/form_messages.html' with form=form %}
    {% include 'components/form_messages.html' with form=noticestep_form %}

    <div class="container d-flex align-items-center flex-column">
        <div class="col-sm-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="mb-0 font-weight-bold">INFORMAÇÕES GERAIS</h4>
                        </div>

                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-12">
                                    {% include 'components/field.html' with label='Título:' field=form.title %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    {% include 'components/field.html' with label='Identificador:' field=form.identifier %}
                                </div>
                                <div class="col-8">
                                    {% include 'components/field.html' with label='Programa de Pós-graduação:' field=form.program %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    {% include 'components/field.html' with label='Descrição:' field=form.description %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="mb-0 font-weight-bold">PERÍODO DO EDITAL</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    {% include 'components/field.html' with label='Data de abertura:' field=form.opening_date %}
                                </div>
                                <div class="col-6">
                                    {% include 'components/field.html' with label='Data de fechamento:' field=form.closing_date %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="mb-0 font-weight-bold">PERÍDO DAS INSCRIÇÕES</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    {% include 'components/field.html' with label='Data de abertura:' field=form.start_date %}
                                </div>
                                <div class="col-6">
                                    {% include 'components/field.html' with label='Data de fechamento:' field=form.end_date %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-1">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">VAGAS</h4>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: -20px">
                                <button type="button" onclick="$('#vacancy_add').click()" class="btn btn-success btn-dark-success rounded-circle"
                                    style="padding: 4px 4px 0px 4px;">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <div id="vacancy_form" data-formset-prefix="{{ vacancy_form.prefix }}" class="container-fluid">
                                {{ vacancy_form.management_form }}
                                <div data-formset-body>
                                    <!-- New forms will be inserted in here -->
                                    {% for vform in vacancy_form %}
                                        <div data-formset-form>
                                            <div class="row mb-2">
                                                <div class="col-3 pr-1">
                                                    {% include 'components/field.html' with label='Vagas:' field=vform.quantity %}
                                                </div>
        
                                                <div class="col-8 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Modalidade:' field=vform.modality %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>
                                            <div class="d-none">
                                                {{ vform.id }}
                                                {{ vform.DELETE }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <input type="button" data-formset-add class="d-none" id="vacancy_add">
                            
                                <script type="form-template" data-formset-empty-form>
                                    {% escapescript %}
                                        <div data-formset-form>
                                            <div class="row mb-2">
                                                <div class="col-3 pr-1">
                                                    {% include 'components/field.html' with label='Vagas:' field=vacancy_form.empty_form.quantity %}
                                                </div>
        
                                                <div class="col-8 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Modalidade:' field=vacancy_form.empty_form.modality %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>
                                            <div class="d-none">{{ vacancy_form.empty_form.DELETE }}</div>
                                        </div>
                                    {% endescapescript %}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-1">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">ETAPAS</h4>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: -20px">
                                <button type="button" onclick="$('#noticestep_add').click()" class="btn btn-success btn-dark-success rounded-circle"
                                    style="padding: 4px 4px 0px 4px;">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <div id="noticestep_form" data-formset-prefix="{{ noticestep_form.prefix }}" class="container-fluid">
                                {{ noticestep_form.management_form }}
                                <div data-formset-body>
                                    <!-- New forms will be inserted in here -->
                                    {% for form in noticestep_form %}
                                        <div data-formset-form>
                                            <div class="row mt-2">
                                                {% if form.initial.step.is_subscription_step or form.cleaned_data.step.is_subscription_step or form.instance.step.is_subscription_step %}
                                                    <div class="col-12 pr-1">
                                                        {% include 'components/field.html' with label='Etapa:' field=form.step %}
                                                    </div>

                                                    {% include 'components/field.html' with field=form.passing_score hidden=True %}

                                                {% else %}
                                                    <div class="col-7 pr-1">
                                                        {% include 'components/field.html' with label='Etapa:' field=form.step %}
                                                    </div>

                                                    <div class="col-4 pr-1">
                                                        {% include 'components/field.html' with label='Nota de corte:' field=form.passing_score %}
                                                    </div>

                                                    <div class="col-1 pl-0 pr-1">
                                                        <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                            <span class="material-icons text-danger">delete</span>
                                                        </button>
                                                    </div> 
                                                {% endif %}
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-6 pr-1">
                                                    {% include 'components/field.html' with label='Data de realização:' field=form.release_date %}
                                                </div>
                                                
                                                <div class="col-6 pr-1">
                                                    {% include 'components/field.html' with label='Data limite de recurso:' field=form.resource_limit_date %}
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ form.id }}
                                                {{ form.DELETE }}
                                                {{ form.order }}
                                                {{ form.passing_score }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <input type="button" data-formset-add class="d-none" id="noticestep_add">
                            
                                <script type="form-template" data-formset-empty-form>
                                    {% escapescript %}
                                        <div data-formset-form>
                                            <div class="row mt-5">
                                                <div class="col-7 pr-1">
                                                    {% include 'components/field.html' with label='Etapa:' field=noticestep_form.empty_form.step %}
                                                </div>

                                                <div class="col-4 pr-1">
                                                    {% include 'components/field.html' with label='Nota de corte:' field=noticestep_form.empty_form.passing_score %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Data de realização:' field=noticestep_form.empty_form.release_date %}
                                                </div>
                                                
                                                <div class="col-6 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Data limite de recurso:' field=noticestep_form.empty_form.resource_limit_date %}
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ noticestep_form.empty_form.DELETE }}
                                                {{ noticestep_form.empty_form.order }}
                                            </div>
                                        </div>
                                    {% endescapescript %}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-1">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">ANEXOS</h4>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: -20px">
                                <button type="button" onclick="$('#noticeattachment_add').click()" class="btn btn-success btn-dark-success rounded-circle"
                                    style="padding: 4px 4px 0px 4px;">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <div id="noticeattachment_form" data-formset-prefix="{{ noticeattachment_form.prefix }}" class="container-fluid">
                                {{ noticeattachment_form.management_form }}
                                <div data-formset-body>
                                    <!-- New forms will be inserted in here -->
                                    {% for form in noticeattachment_form %}
                                        <div class="mb-4" data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-7 pr-1">
                                                    {% include 'components/field.html' with label='Nome:' field=form.name %}
                                                </div>
        
                                                <div class="col-4 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Tipo:' field=form.type %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" 
                                                        data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    {% include 'components/field.html' with label='Anexo:' field=form.file %}
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ form.id }}
                                                {{ form.DELETE }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <input type="button" data-formset-add class="d-none" id="noticeattachment_add">
                            
                                <script type="form-template" data-formset-empty-form>
                                    {% escapescript %}
                                        <div class="mb-4" data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-7 pr-1">
                                                    {% include 'components/field.html' with label='Nome:' field=noticeattachment_form.empty_form.name %}
                                                </div>
        
                                                <div class="col-4 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Tipo:' field=noticeattachment_form.empty_form.type %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" 
                                                        data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    {% include 'components/field.html' with label='Anexo:' field=noticeattachment_form.empty_form.file %}
                                                </div>
                                            </div>
                                            <div class="d-none">{{ noticeattachment_form.empty_form.DELETE }}</div>
                                        </div> 
                                    {% endescapescript %}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-1">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">DOCUMENTOS SOLICITADOS</h4>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: -20px">
                                <button type="button" onclick="$('#requireddocument_add').click()" class="btn btn-success btn-dark-success rounded-circle"
                                    style="padding: 4px 4px 0px 4px;">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <div id="requireddocument_form" data-formset-prefix="{{ requireddocument_form.prefix }}" class="container-fluid">
                                {{ requireddocument_form.management_form }}
                                <div data-formset-body>
                                    <!-- New forms will be inserted in here -->
                                    {% for form in requireddocument_form %}
                                        <div class="mb-4" data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-5 pr-1">
                                                    {% include 'components/field.html' with label='Nome:' field=form.name %}
                                                </div>
        
                                                <div class="col-4 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Tipo:' field=form.type %}
                                                </div>

                                                <div class="col-2 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Opcional:' field=form.optional %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" 
                                                        data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    {% include 'components/field.html' with label='Arquivo:' field=form.file %}
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ form.id }}
                                                {{ form.DELETE }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <input type="button" data-formset-add class="d-none" id="requireddocument_add">
                            
                                <script type="form-template" data-formset-empty-form>
                                    {% escapescript %}
                                        <div class="mb-4" data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-5 pr-1">
                                                    {% include 'components/field.html' with label='Nome:' field=requireddocument_form.empty_form.name %}
                                                </div>
        
                                                <div class="col-4 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Tipo:' field=requireddocument_form.empty_form.type %}
                                                </div>

                                                <div class="col-2 pl-2 pr-1">
                                                    {% include 'components/field.html' with label='Opcional:' field=requireddocument_form.empty_form.optional %}
                                                </div>

                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" 
                                                        data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    {% include 'components/field.html' with label='Arquivo:' field=requireddocument_form.empty_form.file %}
                                                </div>
                                            </div>
                                            <div class="d-none">{{ requireddocument_form.empty_form.DELETE }}</div>
                                        </div> 
                                    {% endescapescript %}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>            
    </div>
</form>