{% extends 'bases/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_name %}{{ page_title }}{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 mx-auto">
            {% for notice in object_list %}
                <div class="row">
                    <div class="col-12">
                        {% include 'notices/card.html' with notice=notice show_status=True %}
                    </div>
                </div>
            {% endfor %}   
            
            {% if object_list.count == 0 %}
                <div class="row mt-5">
                    <div class="col-12">
                        <h4 class="text-danger text-center">Nenhum edital foi encontrado.</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Cancelamento</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body m-3">
                    <p class="mb-0">
                        Deseja cancelar o edital <span id="notice_identifier"></span>? 
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Não</button>
                    <a class="btn btn-danger" href="#" id="url_cancel">Sim</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end_script %}
    <script type="text/javascript">
        function showScoreCancel(identifier, url) {
            document.querySelector("#notice_identifier").innerHTML = identifier
            document.querySelector("#url_cancel").href = url
        }
    </script>
{% endblock %}