{% extends 'bases/base.html' %}

{% block title %}Editais Abertos{% endblock %}

{% block page_name %}Editais Abertos{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 mx-auto">
            {% for notice in object_list %}
                <div class="row">
                    <div class="col-12">
                        {% include 'notices/card.html' with notice=notice show_status=False %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}