{% extends 'bases/base.html' %}

{% block title %}Resultado do Edital{% endblock %}

{% block page_name %}Resultado do Edital{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Edital {{ notice.identifier }} - Aprovados</h5>
                            <span class="badge {{ notice.get_status_color }}">{{ notice.get_status_display }}</span>
                        </div>

                        <div class="card-body">
                            <div class="mt-2 pt-2">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Modalidade</th>
                                            <th class="text-center">Nota Final</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subscription in subscriptions %}
                                            <tr>
                                                <td class="text-center">{{ subscription.user.full_name }}</td>
                                                <td class="text-center">{{ subscription.vacancy.modality.name }}</td>
                                                <td class="text-center">{{ subscription.get_avg|floatformat:2 }}</td>
                                            </tr>
                                        {% endfor %}

                                        {% if subscriptions.count == 0 %}
                                            <tr>
                                                <td class="text-center" colspan="3">
                                                    Nenhuma inscrição encontrada
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

