{% extends 'bases/base.html' %}

{% block title %}Consulta de Edital{% endblock %}

{% block page_name %}Consulta de Edital{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ notice.title }}</h5>
                            <span class="badge {{ notice.get_status_color }}">{{ notice.get_status_display }}</span>
                            <p> {{notice.description}} </p>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                {% for attachment in notice.attachments.all %}
                                    <div class="col-6 mb-4 d-flex align-items-center flex-column">
                                        <label>{{ attachment.name }}</label>
                                        <div>
                                            <a class="btn btn-dark-success" href="{{ attachment.file.url }}" target="_blank">Visualizar</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}