{% extends 'bases/base.html' %}

{% load static %}

{% block title %}Visualização de Edital{% endblock %}

{% block page_name %}Visualização de Edital{% endblock page_name %}

{% block extra_styles %}
    <link href="{% static 'css/datatables.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-12 mx-auto">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{{ notice.title }}</h5>
                        <span class="badge {{ notice.get_status_color }}">{{ notice.get_status_display }}</span>

                        <p> {{notice.description}} </p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="section-title text-center">Inscrições</h5>
                                <table class="table table-striped table-sm" id="subscriptionsTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Modalidade</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subscription in subscriptions %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td class="text-center">{{ subscription.user.full_name }}</td>
                                                <td class="text-center">{{ subscription.vacancy.modality.name }}</td>
                                                <td class="text-center">{{ subscription.get_status_display }}</td>
                                                <td class="text-center">
                                                    <a class="text-secondary" href="{% url 'subscription_view' subscription.id %}">
                                                        <span class="material-icons">preview</span>
                                                    </a>
                                                    {% if not subscription.is_reproved and not subscription.is_finished %}
                                                        <a class="text-warning" href="{% url 'subscription_result' subscription.id %}">
                                                            <span class="material-icons">account_balance</span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                
                                        {% if subscriptions.count == 0 %}
                                            <td colspan="5" class="text-center text-danger">Nenhuma inscrição realizada</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-12">
                                <h5 class="section-title text-center">Recursos pendentes</h5>
                                <table class="table table-striped table-sm" id="resourcesTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Etapa</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for resource in resources %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td class="text-center">{{ resource.step_result.subscription.full_name }}</td>
                                            <td class="text-center">{{ resource.step_result.notice_step.step.name }}</td>
                                            <td class="text-center">
                                                <a class="text-warning" href="{% url 'resource_answer_create' resource.id %}">
                                                    <span class="material-icons">account_balance</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                
                                        {% if resources.count == 0 %}
                                            <td colspan="5" class="text-center text-danger">Nenhum recurso submetido</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_end_script %}
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/datatables-config.js' %}"></script>

    <script>
        $(document).ready( function () {
            $('#subscriptionsTable').DataTable(config);
            $('#resourcesTable').DataTable(config);
        } );
    </script>
{% endblock %}