{% extends 'bases/base.html' %}

{% block title %}Resultado das Etapas{% endblock %}

{% block page_name %}Resultado das Etapas{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ notice.title }}</h5>
                            <span class="badge {{ notice.get_status_color }}">{{ notice.get_status_display }}</span>
                        </div>

                        <div class="card-body">
                            {% for step in steps %}
                                <div class="mt-2 pt-2">
                                    <h5 class="text-center">Etapa #{{step.order}} -Resultados da {{step.step.name}} </h5>

                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="text-center">Nome</th>
                                                <th class="text-center">Modalidade</th>
                                                <th class="text-center">Nota</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for result in step.step_results.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td class="text-center">{{ result.subscription.user.full_name }}</td>
                                                    <td class="text-center">{{ result.subscription.vacancy.modality.name }}</td>
                                                    <td class="text-center">{{ result.score }}</td>
                                                    <td class="text-center">
                                                        <a class="text-success"
                                                            onclick="showScoreModal('{{ result.notice_step.step.name }}', '{{ result.score }}', '{{ result.obs }}')"
                                                            data-toggle="modal" data-target="#modalScore">
                                                            <span class="material-icons">assignment</span>
                                                        </a>
                                                        <a class="text-warning">
                                                            <span class="material-icons">account_balance</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% if subscriptions.count == 0 %}
                                                <td colspan="5" class="text-center">Nenhum resultado encontrado</td>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalScore" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="stepName"></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nota obtida:</label>
                                <input type="text" class="form-control form-control-lg" readonly="true" id="score" />
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Observações da banca:</label>
                                <textarea class="form-control form-control-lg" readonly="true" id="obs" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end_script %}
    <script type="text/javascript">
        function showScoreModal(stepName, score, obs) {
            document.querySelector("#stepName").innerHTML = stepName
            document.querySelector("#score").value = score
            document.querySelector("#obs").value = obs
        }
    </script>
{% endblock %}