{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="shortcut icon" href="{% static 'img/icons/icon-48x48.png' %}" />
	<title>SysPPg - {% block title %}{% endblock title %}</title>
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icons/logo.ico' %}">
	{% block extra_styles %}{% endblock %}
</head>

<body>
	<div class="wrapper">
		{% if request.user.is_coordinator %}
			{% include 'components/sidebar.html' %}
		{% endif %}

		<div class="main">
			{% include 'components/topbar.html' %}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>{% block page_name %}{% endblock page_name %}</h3>
						</div>

						<div class="col-auto ml-auto text-right mt-n1 d-none">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="#">AdminKit</a></li>
									<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
									<li class="breadcrumb-item active" aria-current="page">Analytics</li>
								</ol>
							</nav>
						</div>
					</div>

					<div class="row">
						{% include 'components/messages.html' %}
					</div>

					{% block content %}{% endblock %}
				</div>
			</main>

			{% include 'components/footer.html' %}
		</div>
	</div>

	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/input-file.js' %}"></script>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script src="{% static 'js/jquery.mask.js' %}"></script>
	{% block body_end_script %}{% endblock %}
</body>
</html>