<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'components/form_messages.html' with form=form %}

    <div class="container d-flex align-items-center flex-column">
        <div class="col-sm-12 col-lg-9">
            <div class="card">
                <div class="card-header text-center d-flex align-items-center justify-content-center flex-column">
                    <span class="section-title card-title mb-0 font-weight-bold">Inscrição <b>#{{ step_result.subscription.pk }}</b></span>
                    <div class="d-flex flex-row">
                        <span class="badge bg-primary mr-1">{{ step_result.notice_step.step.name }}</span>
                        <span class="badge bg-danger">Reprovado</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Texto complementar:' field=form.text classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Anexo:' field=form.file classes="text-center" %}
                                <a href="#">Modelo de anexo para recurso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-9 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Submeter</button>
        </div>
    </div>
</form>