{% extends 'bases/base.html' %}

{% block title %}Avaliação de Recurso{% endblock %}

{% block page_name %}Edital {{ notice.identifier }} - Avaliação de Recurso{% endblock page_name %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'components/form_messages.html' with form=form %}

        <div class="container d-flex align-items-center flex-column">
            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">SOBRE O RECURSO</span>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Código de inscrição:' value=subscription.id readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Nome completo do candidato:' value=subscription.full_name readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='CPF do candidato:' value=subscription.user.cpf readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Etapa referida:' value=resource.step_result.notice_step.step.name readonly=True classes="text-center" %}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Data de abertura do recurso:' value=resource.date readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Observação do candidato:' value=resource.text readonly=True classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12 mt-4 d-flex align-items-center flex-column">
                                <a class="btn btn-dark-success" href="{{ resource.file.url }}" target="_blank">Visualizar anexo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header text-center">
                        <span class="section-title card-title mb-0 font-weight-bold">AVALIAÇÃO DO RECURSO</span>
                    </div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-4">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Data de réplica:' value=date|date:'SHORT_DATE_FORMAT' readonly=True classes="text-center" %}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Classificação:' field=form.status classes="text-center" %}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Nova nota:' field=form.new_score classes="text-center" %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Considerações:' field=form.text %}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    {% include 'components/field.html' with label='Anexo:' field=form.file %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Publicar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
{% endblock %}