{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block page_name %}Dashboard{% endblock page_name %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-12">
        <div class="card flex-fill w-100 h-100">
            <div class="card-header pb-0">
                <h5 class="card-title section-title font-weight-bold text-center mb-0">Resumo de Editais</h5>
            </div>
            <div class="card-body d-flex pt-1">
                <div class="align-self-center w-100">
                    <div class="py-3">
                        <div class="chart chart-xs">
                            <canvas id="chartjs-dashboard-pie"></canvas>
                        </div>
                    </div>
        
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td>Pendentes</td>
                                <td class="text-right">{{ pending }}</td>
                            </tr>
                            <tr>
                                <td>Em andamento</td>
                                <td class="text-right">{{ in_progress }}</td>
                            </tr>
                            <tr>
                                <td>Concluídos</td>
                                <td class="text-right">{{ finished }}</td>
                            </tr>
                            <tr>
                                <td>Cancelados</td>
                                <td class="text-right">{{ canceled }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title section-title font-weight-bold text-center mb-0">Número de Inscrições</h5>
            </div>
            <div class="card-body py-3">
                <div class="chart chart-sm">
                    <canvas id="chartjs-dashboard-line"></canvas>
                </div>
            </div>
        </div>
        <a class="card flex-fill w-100 bg-primary text-white" href="{% url 'notice_subscriptions_report' %}">
            <div class="card-body py-3 text-center">
                Relatório de Inscrição
            </div>
        </a>
        <a class="card flex-fill w-100 bg-secondary text-white mb-0" href="{% url 'notice_result_report' %}">
            <div class="card-body py-3 text-center">
                Relatório de Resultados
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block body_end_script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: ["Pendentes", "Em andamento", "Concluídos", "Cancelados"],
                datasets: [{
                    data: [{{ pending }}, {{ in_progress }}, {{ finished }}, {{ canceled }}],
                    backgroundColor: [
                        window.theme.secondary,
                        window.theme.warning,
                        window.theme.success,
                        window.theme.danger
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
        gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
                labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                datasets: [{
                    label: "Inscrições (nº)",
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: [
                        {% for month, value in months_values.items %} 
                            {{ value }},
                        {% endfor %}
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 1000
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
{% endblock %}