{% extends 'bases/base.html' %}

{% block title %}{{ code }}{% endblock %}

{% block page_name %}{% endblock page_name %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="flex-column text-center">
            <h1 class="text-danger"><strong>Erro {{ code }}</strong></h1>
            <span>{{ exception }}</span>
        </div>
    </div>
{% endblock %}