{% extends 'bases/base_light.html' %}
{% load static %}
{% load formset_tags %}

{% block title %}Cadastro{% endblock title %}

{% block content %}
	<div class="text-center">
		<h1 class="h2 mb-5" style="font-size: 3rem">SysPPg</h1>
		<p class="lead">
			Seja bem-vindo!
		</p>
	</div>

	<form method="post">
		<div class="card">
			<div class="card-header pb-0">
				<div class="text-center">
					<h4 class="mb-0 font-weight-bold">INFORMAÇÕES PESSOAIS</h4>
				</div>
			</div>

			<div class="card-body pt-0">
				<div class="m-sm-4">
					{% if messages %}
						<div class="row align-items-center">
							<div class="col">
								{% include 'components/messages.html' %}
							</div>
						</div>
					{% endif %}
					
					
					{% csrf_token %}
					{% include 'components/form_messages.html' with form=form %}

					<div class="row">
						<div class="col-12 mb-3">
							{% include 'components/field.html' with label='Nome completo:' field=form.full_name %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 mb-3">
							{% include 'components/field.html' with label='Email:' field=form.email %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='CPF:' field=form.cpf %}
						</div>

						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='Data de nascimento:' field=form.date_of_birth %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='Estado civil:' field=form.marital_status %}
						</div>

						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='Sexo:' field=form.sex %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 mb-3">
							{% include 'components/field.html' with label='Endereço residencial:' field=form.address %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 mb-3">
							{% include 'components/field.html' with label='Telefone:' field=form.phone_number %}
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='Senha:' field=form.password1  %}
						</div>

						<div class="col-12 col-md-6 mb-3">
							{% include 'components/field.html' with label='Confirmação de senha:' field=form.password2 %}
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header pb-1">
				<div class="text-center">
					<h4 class="mb-0 font-weight-bold">GRADUAÇÃO</h4>
				</div>
				<div class="d-flex justify-content-end" style="margin-top: -20px">
					<button type="button" onclick="$('#usercourse_add').click()" class="btn btn-success btn-dark-success rounded-circle"
						style="padding: 4px 4px 0px 4px;">
						<span class="material-icons">add</span>
					</button>
				</div>
			</div>

			<div class="card-body pt-0">
				<div id="usercourse_formset" data-formset-prefix="{{ usercourse_formset.prefix }}" class="container-fluid">
					{{ usercourse_formset.management_form }}
					<div data-formset-body>
						{% for form in usercourse_formset %}
							<div data-formset-form>
								<div class="row mt-2">
									<div class="col-6 pr-1">
										{% include 'components/field.html' with label='Curso de graduação:' field=form.course %}
									</div>

									<div class="col-5 pr-1">
										{% include 'components/field.html' with label='Data de conclusão:' field=form.completion_date %}
									</div>

									<div class="col-1 pl-0 pr-1">
										<button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
											<span class="material-icons text-danger">delete</span>
										</button>
									</div> 
								</div>
								<div class="d-none">
									{{ form.DELETE }}
								</div>
							</div>
						{% endfor %}
					</div>

					<input type="button" data-formset-add class="d-none" id="usercourse_add">
				
					<script type="form-template" data-formset-empty-form>
						{% escapescript %}
							<div data-formset-form>
								<div class="row mt-2">
									<div class="col-6 pr-1">
										{% include 'components/field.html' with label='Curso de graduação:' field=usercourse_formset.empty_form.course %}
									</div>

									<div class="col-5 pr-1">
										{% include 'components/field.html' with label='Data de conclusão:' field=usercourse_formset.empty_form.completion_date %}
									</div>

									<div class="col-1 pl-0 pr-1">
										<button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
											<span class="material-icons text-danger">delete</span>
										</button>
									</div> 
								</div>
								<div class="d-none">
									{{ usercourse_formset.empty_form.DELETE }}
								</div>
							</div>
						{% endescapescript %}
					</script>
				</div>
				
			</div>
		</div>

		<div class="text-center mt-3 mb-5">
			<button type="submit" class="btn btn-lg btn-primary">Cadastrar</button>
		</div>
	</form>
{% endblock %}

{% block body_end_script %}
    <script type="text/javascript">
        $(function() {
            $("#usercourse_formset").formset({ animateForms: false });
        });
    </script>
{% endblock %}