{% if label %}
    {% if field.field.widget.input_type != 'checkbox' or value %}
        {% include 'components/label.html' %}
    {% endif %}
{% endif %}

{% if readonly %}
    <input class="form-control form-control-lg {{ classes }}"  value="{{ value }}" disabled="true">
{% elif hidden %}
    <input type="hidden" name="{{ field.html_name }}" id="{{ field.auto_id }}" value="{{ field.value }}"/>
{% else %}
    {% if field.field.widget.input_type == 'file' %}
        <div class="d-flex justify-content-center">
            <input type="file" name="{{ field.html_name }}" class="d-none" id="{{ field.auto_id }}" onchange="inputChange(this)"/>
            <input type="text" class="form-control form-control-lg" disabled="true" value="{% firstof field.value 'Nenhum arquivo' %}">
            <button type="button" class="btn btn-dark-primary" onclick="inputButtonClick(this)">Selecione...</button>
        </div>
        {% if field.value %}
            {% load static %}
            <a href="{% get_media_prefix %}{{ field.value }}" target="_blank">Visualizar arquivo atual</a>
        {% endif %}
    {% else %}
        {{ field }}
    {% endif %}

    {% if label and field.field.widget.input_type == 'checkbox' %}
        {% include 'components/label.html' %}
    {% endif %}

    {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
    {% if field.errors %}
        <div class="form-text text-danger font-weight-bold">
            {% if small %}<small style="font-size: 12px;">{% endif %}
            {% for error in field.errors %}
                {% if forloop.first %}
                {% else %}, {% endif %}
                {{ error|striptags }}
            {% endfor %}
            {% if small %}</small>{% endif %}
        </div>
    {% endif %}
{% endif %}