<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-left">
                <p class="mb-0">
                    <a href="index.html" class="text-muted"><strong>Universidade Federal do Acre</strong></a> &copy;
                </p>
            </div>
            <div class="col-6 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Ajuda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>