{% if label %}
    <label for="{{ field.auto_id }}">{{ label }}
        {% if field.field.required and show_required is not False %}
            <span style="color: red">*</span>
        {% elif not field.field.required and show_required is True %}
        <span style="color: red">*</span>
        {% endif %}
    </label>
{% endif %}