{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
    {% elif message.tags == 'info' %}
        <div class="alert alert-info alert-dismissible fade show">
    {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show">
    {% elif message.tags == 'warning' %}
        <div class="alert alert-success alert-dismissible fade show">
    {% endif %}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            <div class="alert-icon">
                <i class="far fa-fw fa-bell"></i>
            </div>
            <div class="alert-message text-center">
                {{ message }}
            </div>
        </div>
{% endfor %}

