{% url url_name as url_reverse %}

{% if request.path == url_reverse %}
    <li class="sidebar-item active">
{% else %}
    <li class="sidebar-item">
{% endif %}
    <a class="sidebar-link pt-3 pb-3 d-flex align-items-center" href="{{ url_reverse }}">
        <span class="material-icons">{{ icon }}</span> 
        <span class="align-middle ml-2">{{ label }}</span>
    </a>
</li>