{% load static %}

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'img/logo.png' %}"/>
            <span class="align-middle" style="font-size: 24px">SysPPg</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header pt-0">
                Navegação
            </li>

            {% include 'components/sidebar_link.html' with label='Início' icon='home' url_name='dashboard' %}

            {% include 'components/sidebar_link.html' with label='Novo edital' icon='note_add' url_name='notice_add' %}

            {% include 'components/sidebar_link.html' with label='Editais relacionados' icon='view_list' url_name='notice_list' %}

            {% include 'components/sidebar_link.html' with label='Editais concluídos' icon='library_books' url_name='notice_list_finished' %}

            {% include 'components/sidebar_link.html' with label='Todos os editais' icon='assignment' url_name='notice_list_all' %}

            <li class="sidebar-header">
                Consultas e relatórios
            </li>
            <li class="sidebar-item">
                <a data-target="#relatorios" data-toggle="collapse" class="sidebar-link pt-3 pb-3 d-flex align-items-center collapsed">
                    <span class="material-icons">receipt_long</span> 
                    <span class="align-middle ml-2">Relatórios</span>
                </a>
                <ul id="relatorios" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'notice_subscriptions_report' %}">Inscrições em edital</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'notice_result_report' %}">Resultados de edital</a></li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a data-target="#consultas" data-toggle="collapse" class="sidebar-link pt-3 pb-3 d-flex align-items-center collapsed">
                    <span class="material-icons">search</span> 
                    <span class="align-middle ml-2">Consultas</span>
                </a>
                <ul id="consultas" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'admin:users_user_changelist' %}">De pessoa cadastrada</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'admin:subscriptions_subscription_changelist' %}">De inscrições</a></li>
                </ul>
            </li>

            {% if request.user.is_staff %}
                <li class="sidebar-header">
                    Outras opções
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link pt-3 pb-3 d-flex align-items-center" href="{% url 'admin:index' %}">
                        <span class="material-icons">settings</span> 
                        <span class="align-middle ml-2">Administração</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>