{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-bg">
    {% if request.user.is_staff %}
        <a class="sidebar-toggle d-flex">
            <i class="hamburger align-self-center"></i>
        </a>
    {% else %}
        <a class="pr-3" href="{% url 'dashboard' %}">
            <img src="{% static 'img/logo.png' %}" style="width: 30px;"/>
        </a>
    {% endif %}

    <form class="d-none d-sm-inline-block" action="{% url 'notice_search' %}">
        <div class="input-group input-group-navbar">
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Search" name="key">
            <button class="btn" type="submit">
                <i class="align-middle" data-feather="search"></i>
            </button>
        </div>
    </form>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="{% url 'subscription_list' %}">
                    <div class="position-relative">
                        <i class="align-middle text-light" data-feather="clipboard"></i>
                    </div>
                </a>
            </li>

            {% with notifications=request.user.get_not_read_notifications %}
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
                        <div class="position-relative">
                            <i class="align-middle text-light" data-feather="bell"></i>
                            
                            {% if notifications.count > 0 %}
                                <span class="indicator">{{ notifications.count }}</span>
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
                        <div class="dropdown-menu-header">
                            {{ notifications.count }} novas notificações
                        </div>
                        <div class="list-group">
                            {% for notification in notifications %}
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <span class="{{ notification.get_color }} material-icons">{{ notification.icon }}</span> 
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">{{ notification.title }}</div>
                                            <div class="text-muted small mt-1">{{ notification.content }}</div>
                                            <div class="text-muted small mt-1">{{ notification.created_at|date:'SHORT_DATE_FORMAT' }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="dropdown-menu-footer">
                            <a href="{% url 'notification_list' %}" class="text-muted">Ver todas as notificações</a>
                        </div>
                    </div>
                </li>
            {% endwith %}

            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                    <i class="align-middle text-light" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block text-light" href="#" data-toggle="dropdown">
                    <span class="text-light">{{ user.get_short_name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'profile_edit' %}"><i class="align-middle mr-1"
                            data-feather="user"></i> Minha conta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pages-settings.html"><i class="align-middle mr-1"
                            data-feather="settings"></i> Configurações</a>
                    <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i> Ajuda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'logout' %}">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>