{% load formset_tags %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'components/form_messages.html' with form=form %}

    <div class="container d-flex align-items-center flex-column">
        <div class="col-sm-12 col-lg-7">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="mb-0 font-weight-bold">INFORMAÇÕES GERAIS</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    {% include 'components/field.html' with label='Nome completo:' field=form.full_name %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-2">
                                    {% include 'components/field.html' with label='CPF:' value=request.user.get_formatted_cpf readonly=True classes="text-center" %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-2">
                                    {% include 'components/field.html' with label='Email:' field=form.email %}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-4 pr-1">
                                    {% include 'components/field.html' with label='Data de nascimento:' field=form.date_of_birth %}
                                </div>

                                <div class="col-4 pr-1">
                                    {% include 'components/field.html' with label='Sexo:' field=form.sex %}
                                </div>

                                <div class="col-4 pr-1">
                                    {% include 'components/field.html' with label='Celular:' field=form.phone_number %}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-4 pr-1">
                                    {% include 'components/field.html' with label='Estado civil:' field=form.marital_status %}
                                </div>
                            
                                <div class="col-8 pr-1">
                                    {% include 'components/field.html' with label='Endereço:' field=form.address %}
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header pb-1">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">GRADUAÇÃO</h4>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: -20px">
                                <button type="button" onclick="$('#usercourse_add').click()"
                                    class="btn btn-success btn-dark-success rounded-circle" style="padding: 4px 4px 0px 4px;">
                                    <span class="material-icons">add</span>
                                </button>
                            </div>
                        </div>
                    
                        <div class="card-body pt-0">
                            <div id="usercourse_form" data-formset-prefix="{{ usercourse_form.prefix }}" class="container-fluid">
                                {{ usercourse_form.management_form }}
                                <div data-formset-body>
                                    {% for form in usercourse_form %}
                                        <div data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-6 pr-1">
                                                    {% include 'components/field.html' with label='Curso de graduação:' field=form.course %}
                                                </div>
                        
                                                <div class="col-5 pr-1">
                                                    {% include 'components/field.html' with label='Data de conclusão:' field=form.completion_date %}
                                                </div>
                        
                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn"
                                                        style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;"
                                                        data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ form.id }}
                                                {{ form.DELETE }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                    
                                <input type="button" data-formset-add class="d-none" id="usercourse_add">
                    
                                <script type="form-template" data-formset-empty-form>
                                    {% escapescript %}
                                        <div data-formset-form>
                                            <div class="row mt-2">
                                                <div class="col-6 pr-1">
                                                    {% include 'components/field.html' with label='Curso de graduação:' field=usercourse_form.empty_form.course %}
                                                </div>
            
                                                <div class="col-5 pr-1">
                                                    {% include 'components/field.html' with label='Data de conclusão:' field=usercourse_form.empty_form.completion_date %}
                                                </div>
            
                                                <div class="col-1 pl-0 pr-1">
                                                    <button type="button" class="btn" style="margin-top: 20px;  max-height: calc(2.0875rem + 2px); padding: 6px;" data-formset-delete-button>
                                                        <span class="material-icons text-danger">delete</span>
                                                    </button>
                                                </div> 
                                            </div>
                                            <div class="d-none">
                                                {{ usercourse_form.empty_form.DELETE }}
                                            </div>
                                        </div>
                                    {% endescapescript %}
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center flex-row mt-4">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalPassword">Trocar Senha</button>
                        <button type="submit" class="btn btn-success ml-4" style="width: 8rem">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Atualização de Senha</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body m-3">
                <form method="POST" action="{% url 'user_password_update' %}">
                    {% csrf_token %}

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Senha atual:' field=form_password.old_password classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Nova senha:' field=form_password.new_password1 classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-group">
                                {% include 'components/field.html' with label='Confirmação de senha:' field=form_password.new_password2 classes="text-center" %}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center flex-row mt-4">
                        <button type="submit" class="btn btn-success ml-4" style="width: 8rem">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

