{% extends 'bases/base.html' %}

{% block title %}Notificações{% endblock %}

{% block page_name %}Notificações{% endblock page_name %}

{% block content %}
<div class="container">
    <div class="col-lg-12 mx-auto">
        {% for notification in object_list %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0 {{ notification.get_color }}">{{ notification.title }}</h5>
                            <span class="badge {{ notification.get_background_color }}">{{ notification.get_status_display }}</span>
                            <span class="badge bg-secondary" data-toggle="tooltip" data-placement="bottom" 
                                    title="Data de envio">{{ notification.created_at }}</span>

                            <div class="card-options float-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-simple card-options-btn p-0" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'notification_read' notification.id %}">Marcar como lida</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-body pt-0">
                            {{ notification.content }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if object_list.count == 0 %}
            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="text-danger text-center">Nenhuma notificação foi encontrada.</h4>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}